<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Web en Flask</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>

  <body>
    <h1>SERVICIO DE WHASTAPP Y CORREO</h1>
 

    <div class="div_1">
      <div class="div_sub">
        <div>
          
            <div style="display: flex; align-items: center; justify-content: center;"> 
               
                <button onclick="obtener_qr_whastapp()">OBTENER QR</button>
            </div>
            

          <img id="mi_qr" src="" alt="" />
          
        </div>
      </div>

      <div class="div_sub">
        <div
          id=""
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          "
        >
          <span>lista de contactos</span>

          <div style="display: flex;gap: 20px;">

            <input type="text" name="palabra" id="palabra"  placeholder="inserte palabra.."/>

            <button onclick="listar_contactos()">OBTENER CONTACTOS</button>

          </div>

          <select
            name="list_conctactos"
            id="list_conctactos"
            style="width: 300px"
          ></select>
        </div>

        <input
          type="text"
          id="mensaje"
          placeholder="mensaje aqui"
          style="padding: 3px; margin: 10px; width: 75%"
        />

        <button id="btn_enviar_mensaje" onclick="enviar_mensaje()" >ENVIAR MENSAJE</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
